body {
  background-image: url("https://images.pexels.com/photos/4124939/pexels-photo-4124939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 70%;
  margin: 100px auto;
}

li {
  font-size: 18px;
}

.main-part {
  font-size: 17px;
  padding: 10px;
}
